/*
Dark background: #332f2c;
Light background: #f0f0f0
Accent color: #651FFF;
Lighter accent color: #7C4DFF;
 */

/*******************************************
                    BASIC SETUP
*******************************************/

body {
    font-family: Montserrat, sans-serif;
    background-color: #f0f0f0;
    margin: 0 auto;

    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    height: 100%;
}

h1 {
    font-size: 200%;
    text-align: center;
}

p {
    font-size: 130%;
}


/********************************************
                HEADER, NAV
********************************************/

.above-header {
    position: fixed;
    width: 100%;
    border-top: #651FFF 3px solid;
    z-index: 99;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #332f2c;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

nav h1 {
    text-align: left;
    font-size: 230%;
    margin-right: 2%;
    margin-left: 2%;
}

nav p {
    font-size: 120%;
    text-transform: none;
    font-weight: 300;
    margin-top: 2.8%;
    margin-right: 25%;
}

nav a {
    font-size: 110%;
    font-weight: 300;
    margin-top: 3%;
    margin-right: 2%;
    color: white;
    text-decoration: none;
    height: 30%;
    padding: 0.5%;
}

nav a:hover {
    color: #7C4DFF;
}

.btn-nav {
    background-color: #651FFF;
    border: none;
    border-radius: 4px;
}

.btn-nav:hover {
    background-color: #7C4DFF;
    color: white;
}


/********************************************
              FORM, BUTTONS
********************************************/

form {
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
}

.wrapper-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
}

input, textarea, select {
    font-family: Montserrat, sans-serif;
    font-size: 90%;
    width: 70%;
    padding: 12px 20px;
    margin-top: 3%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 80%;
}

label {
    font-size: 120%;
    margin-top: 12%;
}

.btn {
    padding: 2%;
    margin-top: 3%;
    font-family: Montserrat, sans-serif;
    font-size: 130%;
    color: white;
    background-color: #651FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 55%;
}

.btn:hover {
    background-color: #7C4DFF;
}


/********************************************
                 TABLE
********************************************/

table {
    margin-left: 25%;
    width: 50%;
    border-collapse: collapse;
}

th {
    text-align: center;
    background-color: #332f2c;
    color: white;
    padding: 3%;
    border: 1px solid #ddd;
}

td {
    border: 1px solid #ddd;
    padding: 3%;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

td:first-child {
    color: #651FFF;
}


/********************************************
                 FOOTER
********************************************/

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: -130px;
    background-color: #332f2c;
    color: white;
    text-align: center;
    font-size: 80%;
}

body::after {
    content: '';
    display: block;
    height: 130px;
    /* Set same as footer's height */
}
